.map-table th {
    border: 1px solid #ffffff;
    color: #ffffff;
    margin: 1em auto;
    padding: 5px;
}

.map-table td {
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: bottom;
}

.arcade {
    width: 80px;
    height: 80px;
    background-image: url(/img/grid/arcade.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.grass {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/grass.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sand {
    width: 80px;
    height: 80px;
    background-image: url(/img/grid/sand.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.water {
    width: 80px;
    height: 80px;
    background-image: url(/img/grid/water.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.field {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/flowers.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.forest {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.reserve {
    width: 80px;
    height: 80px;
    background-image: url(/img/grid/reserved.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.freserve {
    width: 80px;
    height: 80px;
    background-image: url(/img/grid/freserved.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.roadup {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/road/roadup.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.roadside {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/road/roadside.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.roadT {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/road/roadT.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.roadT2 {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/road/roadT2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.roadturn1 {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/road/roadturn1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.roadturn2 {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/road/roadturn2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.roadturn3 {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/road/roadturn3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.roadturn4 {
    width: 80px;
    height: 80px;
    background-image: url(images/grid/road/roadturn4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.towna {
    color: #ffbb00;
    background-color: #ffbb0040;
    font-weight: bold;
}

.board {
    color: #00ffdd;
    background-color: #00ffdd40;
    font-weight: bold;
}

.netz {
    color: #5eff00;
    background-color: #5eff0040;
    font-weight: bold;
}

.wrapper {
    text-align: center;
}